  <header>
   
    <nav>
    <a class="float-left" id="sitename" href="/"></a>
 <ul>
    <li><a href="/">Home</a><l/i>
    <li><a href="/about">About</a></li>
    <li><a href="/insert">Enter Data</a></li>
    <li><a href="/getrci">RCI</a></li>
    <li><a href="/faq">FAQ</a></li>
    </ul>
  </nav>
  </header>

 