  <header>
<<<<<<< HEAD
    <h1> <a id="sitename" href="/">Neuropsych Score</a></h1>
=======
    <h1> <a id="sitename" href="/">Neuropsychology</a></h1>
>>>>>>> c5fb1e4a4e25efd4c82cdc7e9fd2a735bbfd1a47
    <nav>
 
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/insert">Enter Data</a>
    <a href="/getrci">RCI</a>
  </nav>
  </header>

 