  <header>
    <h1> <a id="sitename" href="/">Neuropsychology</a></h1>
    <nav>
 
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/insert">Enter Data</a>
    <a href="/getrci">RCI</a>
  </nav>
  </header>

 