 <div class="float-container about">

<div id="about">
<h2>About</h2>
<p>Easy Report, the Neuropsych Report Helper, is meticulously crafted for Neuropsychologists, aiming to simplify the intricate process of creating comprehensive and convenient score summary sheets. Easy Report empowers Neuropsychologists with a suite of features that enhance productivity, accuracy, and the overall reporting process. Discover a tool crafted to meet the specific needs of Neuropsychologists, providing efficiency without compromising precision. </p>

<h3>Key Features:</h3>
    <ul>
        <li><strong>Tests Supported:</strong> The current version caters to a typical older adult dementia battery, with a commitment to continuously expand the test repertoire over time. </li>

        <li><strong>Effortless Data Input:</strong> Experience a seamless and user-friendly interface designed for easy and efficient data entry. Input raw scores, T-scores, and Standard Scores with precision, significantly reducing the risk of errors in your report summaries.</li>

        <li><strong>PDF data extraction:</strong> With Easy Report, swiftly extract data from reports by major publishers without compromising client privacy. The process occurs locally, ensuring your client's data stays on your computer—no uploads to external servers. It's secure, efficient, and tailored to your convenience. Note: Expanding support for different report formats is underway, but may take time. </li>

        <li><strong>Domain-based Organization:</strong> Streamline your reporting workflow by organizing scores based on cognitive domains. While preset domain values are provided during data entry, you have the flexibility to customize them according to your conceptualization.</li>
       <li><strong>Excel Download:</strong> Effortlessly export your meticulously generated score sheets in Excel format, facilitating further analysis and streamlined reporting.</li>
       <li>
  <strong>RCI Calculation:</strong>
  Streamline the process of re-evaluation with our Reliable Change Index (RCI) calculation feature. Easily compare scores to assess the significance of changes over time. This tool empowers you to make informed decisions and gain valuable insights from the variations in assessment results. Harness the efficiency of RCI calculation within Easy Report for a comprehensive and precise evaluation of individual progress.
</li>

        
        <!-- Add more feature descriptions -->

    </ul>
  </div>

  <div id="support">
<h2>Support Easy Report</h2>
<p>Welcome to Easy Report, built by a dedicated post-doctoral fellow in Neuropsychology for neuropsychologists like you. Streamlining the journey from raw scores to a concise summary, our platform is designed to empower neuropsychologists by harnessing the untapped potential of open-source technology. Despite the existing technological capabilities, the proprietary nature of norms has posed challenges to realizing the seamless transformation of raw scores into comprehensive summary sheets.</p>

<p>However, I'm excited to share the next best thing: a platform that effortlessly transforms PDF reports into score summary sheets. You can play a pivotal role in advancing this project by <a href="http://patreon.com/neuropsychcreate" target="_blank">supporting us</a>. Your support will drive the integration of AI-powered technology and facilitate the adoption of faster hosting options, propelling Easy Report towards greater efficiency and impact.</p>



  </div>



  </div>
  <div class="clear"></div>