 <div class="float-container about">

 <div id="about">
<h2>About</h2>
<p>Neuropsych Score Sheet is an advanced tool designed specifically for Neuropsychologists, streamlining the process of generating comprehensive and convenient score summary sheets.</p>

<h3>Key Features:</h3>
    <ul>
        <li><strong>Tests Supported:</strong> The current version supports a typical older adult dementia battery. More tests will be added over time. </li>

        <li><strong>Effortless Data Input:</strong> Enjoy a user-friendly interface that allows for easy and efficient data entry. Input raw scores, T-scores, Standard Scores with precision, reducing the risk of errors in your summaries.</li>
        <li><strong>Domain-based Organization:</strong> Streamline your reporting by organizing scores based on cognitive domains. There are preset domain values When entering data but you can always change it according to your conceptualization </li>
       <li><strong>Excel Download:</strong>  Easily export your generated score sheets in Excel format for further analysis and reporting</li>
        
        <!-- Add more feature descriptions -->

    </ul>
  </div>

<div id="FAQ">
<h3>FAQ:</h3>
</div>

  </div>
  <div class="clear"></div>