 <div class="float-container faq">
<div id="FAQ">
<h2>FAQ:</h2>

            <strong>The test I use is not listed in the data entry page. Can you add it?</strong>
            <p>Reach out to us on <a href="https://twitter.com/alexneuropsych" target="_blank">X/Twitter</a> and let us know which test you'd like added.</p>
    

     
            <strong>Can I leave some of the data entry input blank?</strong>
            <p>Absolutely! If you haven't used certain tests, feel free to leave those entries blank.</p>
        

       
            <strong>Which BVMT-R report can I use to extract data from?</strong>
            <p>If your BVMT-R PDF report resembles <a href="https://www.parinc.com/Portals/0/webuploads/samplerpts/BVMT_Score.pdf" target="_blank">this example</a> and NOT scanned, the table on the third page will be automatically extracted.</p>
       
            <strong>Is my client's data safe after I enter it?</strong>
            <p>Yes, your client's data is linked only to a unique random client ID for privacy. Do NOT use this service as client data storage.</p>
        
            <strong>What will you do with the data?</strong>
            <p>Nothing at all. Your client data will NOT be used for any other purposes.</p>
      
            <strong>I made a mistake. Can I correct my entry?</strong>
            <p>Unfortunately, the portal doesn't currently support editing. Generate a new random client ID and re-enter the data.</p>
        
            <strong>How can I request more features?</strong>
            <p>Reach out to us on <a href="https://twitter.com/alexneuropsych" target="_blank">X/Twitter</a>, and we'll explore what can be done.</p>
       
            <strong>How can funding for this project help?</strong>
          
<p>Investing in this project enables us to revolutionize our capabilities. Specifically, your funding will empower us to deploy advanced AI-trained models, enhancing our capacity to automatically extract data tables from PDFs. Currently hosted on a budget-friendly service, the project may experience limitations in accommodating simultaneous users. With your support, we can upgrade our infrastructure, ensuring seamless access for an increased number of neuropsychologists and users.</p>

       
            <strong>How can I help fund this project?</strong>
            <p>Consider becoming a <a href="http://patreon.com/neuropsychcreate" target="_blank">patron</a> to support and advance this project.</p>
        
            <strong>Can you build Raw score to T score conversion?</strong>
            <p>Unfortunately, automated conversion from raw score to T score isn't feasible. This limitation arises not from technological constraints but due to the proprietary nature of the norms. </p>
       
    
</div>
</div>