

 <div class="float-container">

 <div id="findClient">
  <form  action="/processrci" method="post">
   <h2>Get Client's RCI</h2>
  <div class="float-left">
    <label for="clientId">ClientID:</label>
    <input type="text" id="clientId" name="clientid" required>
    <small>the unique client ID you used when entering data</small>

    </div>
     <div class="float-left age">
    <label for="Age">Age:</label>
    <input type="number" id="age" name="age" required>
    <small>Age at test number 1 </small>
    </div>

    <div class="float-left button">
    <button type="submit">Find</button>
     </div>
  </form>
  </div>
  </div>
  <div class="clear"></div>
