

 <div class="float-container" id="landing">
<div id="slogan">
<h1>Simplify Reporting with Ease</h1>
<p>Say goodbye to data cleaning and manual Excel tasks. Easy Report transforms reporting into a seamless, efficient process, allowing you to focus on delivering valuable insights.</p>


</div>
 <div id="findClient">

    <h2>Get Scoresheet</h2>
  <form  action="/process" method="post">

   <p>Already entered client's data? Find the result by entering the unique client ID</p>
  <div class="float-left">
    <label for="clientId">ClientID:</label>
    <input type="text" id="clientId" name="clientId" required>
    <small>the unique client ID you used when entering data</small>

    </div>
     <div class="float-left testnum">
     <label for="testNum">Test Number:</label>
     <select id="testNum" name="testNum" required>
      <option value="1">1</option>
      <option value="2">2</option>
          
    </select>
<small class="float-right" id="testnumsmall">1:first time testing<br> 2: second time testing</small>
    </div>

    
    <button type="submit">Find</button>

  </form>
  </div>
  </div>
  <div class="clear"></div>
