

 <div class="float-container">

 <div id="findClient">
<<<<<<< HEAD
    <h2>Get Scoresheet</h2>
  <form  action="/process" method="post">

   <p>If you have already entered client's data, you can find the result by entering the unique client ID</p>
=======
  <form  action="/process" method="post">
   <h2>Get Client Result</h2>
>>>>>>> c5fb1e4a4e25efd4c82cdc7e9fd2a735bbfd1a47
  <div class="float-left">
    <label for="clientId">ClientID:</label>
    <input type="text" id="clientId" name="clientId" required>
    <small>the unique client ID you used when entering data</small>

    </div>
     <div class="float-left testnum">
     <label for="testNum">Test Number:</label>
     <select id="testNum" name="testNum" required>
      <option value="1">1</option>
      <option value="2">2</option>
          
    </select>
<small class="float-right" id="testnumsmall">1:first time testing<br> 2: second time testing</small>
    </div>

    <div class="float-left button">
    <button type="submit">Find</button>
     </div>
  </form>
  </div>
  </div>
  <div class="clear"></div>
