



<h2>Enter Client Data</h2>
<form id="submitForm" method="post">
<div class="float-left" id="clientid">
<label for="Name">ClientID:</label>
<input type="text" id="name" name="Name" required><br>
<small>Use a unique and deidentified client ID and save it with your client's paper files for later use. Please use at least 8 characters of numbers and letters.</small><br>
</div>
<div class="float-left"</div>
<label for="Sex">Sex</label>
<select id="sex" name="Sex" required>
<option value="M">M</option>
<option value="F">F</option>
</select>
<br>
<small>Assigned at birth</small>
</div>
<div class="float-left">
<label for="Age">Age:</label>
<input type="number" id="age" name="Age" required>
</div>
<div class="float-left">

<label for="Education">Education:</label>
<input type="number" id="education" name="Education" required>
<small>Years of education</small>
</div>
<div class="float-left">

<label for="Race">Race:</label>
<select id="race" name="Race" required>
<option value="White">White</option>
<option value="Black">Black</option>
<option value="Hispanic">Hispanic</option>
<option value="Other">Other</option>
</select>

</div>
<div class="float-left testnum" >

<label for="TestNum">Test Number:</label>
<select id="testNum" name="TestNum" required>
<option value="1">1</option>
<option value="2">2</option>
</select>
<small id="testnumsmall">If this is the first time testing, choose 1. This will be used to calculate RCI.</small>

</div>

<table id="dataTable">
<thead>
<tr>
<th>Measure</th>
<th>Subtest / Norm</th>
<th>Raw</th>
<th>T</th>
<th>StandardScore</th>
<th>ScaledScore</th>

</tr>
</thead>
<tbody>
<tr>
<td><input type="text" name="Measure" value="BVMT-R" class="readonly-input" readonly></td>
<td><input type="text" name="Subtest" value="Total" class="readonly-input" readonly></td>
<td><input type="text" name="Raw" class="readonly-input" readonly></td>
<td><input type="text" name="T" value="" tabindex="1"></td>
<td><input type="text" name="StandardScore" class="readonly-input" readonly></td>
<td><input type="text" name="ScaledScore"class="readonly-input" readonly></td>
</tr>
<tr>
<td><input type="text" name="Measure" value="BVMT-R" class="readonly-input" readonly></td>
<td><input type="text" name="Subtest" value="DR" class="readonly-input" readonly></td>
<td><input type="text" name="Raw" class="readonly-input" readonly></td>
<td><input type="text" name="T" value="" tabindex="2"></td>
<td><input type="text" name="StandardScore"class="readonly-input" readonly></td>
<td><input type="text" name="ScaledScore"class="readonly-input" readonly></td>
</tr>
<tr>
<td><input type="text" name="Measure" value="HVLT-R" class="readonly-input" readonly></td>
<td><input type="text" name="Subtest" value="Total" class="readonly-input" readonly></td>
<td><input type="text" name="Raw" class="readonly-input" readonly></td>
<td><input type="text" name="T" value="" ></td>
<td><input type="text" name="StandardScore" class="readonly-input" readonly></td>
<td><input type="text" name="ScaledScore"class="readonly-input" readonly></td>
</tr>
<tr>
<td><input type="text" name="Measure" value="HVLT-R" class="readonly-input" readonly></td>
<td><input type="text" name="Subtest" value="DR" class="readonly-input" readonly></td>
<td><input type="text" name="Raw"class="readonly-input" readonly></td>
<td><input type="text" name="T" value=""></td>
<td><input type="text" name="StandardScore"class="readonly-input" readonly></td>
<td><input type="text" name="ScaledScore"class="readonly-input" readonly></td>
</tr>
<tr>
<td><input type="text" name="Measure" value="WAIS-DS" class="readonly-input" readonly></td>
<td><input type="text" name="Subtest" value="Total" class="readonly-input" readonly></td>
<td><input type="text" name="Raw"class="readonly-input" readonly></td>
<td><input type="text" name="T" value=""class="readonly-input" readonly></td>
<td><input type="text" name="StandardScore" class="readonly-input" readonly></td>
<td><input type="text" name="ScaledScore"></td>
</tr>
<tr>
<td><input type="text" name="Measure" value="WAIS-DS" class="readonly-input" class="readonly-input" readonly></td>
<td><input type="text" name="Subtest" value="DSF" class="readonly-input" class="readonly-input" readonly></td>
<td><input type="text" name="Raw" class="readonly-input" readonly></td>
<td><input type="text" name="T" value="" class="readonly-input" readonly></td>
<td><input type="text" name="StandardScore" class="readonly-input" readonly></td>
<td><input type="text" name="ScaledScore"></td>
</tr>
<tr>
<td><input type="text" name="Measure" value="WAIS-VCI" class="readonly-input" readonly></td>
<td><input type="text" name="Subtest" value="Total" class="readonly-input" readonly></td>
<td><input type="text" name="Raw" class="readonly-input" readonly></td>
<td><input type="text" name="T" value="" class="readonly-input" readonly></td>
<td><input type="text" name="StandardScore"></td>
<td><input type="text" name="ScaledScore" class="readonly-input" readonly></td>
</tr>

<tr>
<td><input type="text" class="readonly-input" name="Measure" value="WAIS-VCI" readonly></td>
<td><input type="text" class="readonly-input" name="Subtest" value="Similarity" readonly></td>
<td><input type="text" class="readonly-input" name="Raw" readonly></td>
<td><input type="text" class="readonly-input" name="T" value="" readonly></td>
<td><input type="text" class="readonly-input" name="StandardScore" readonly></td>
<td><input type="text" name="ScaledScore"></td>
</tr>
<tr>
<td><input type="text" class="readonly-input" name="Measure" value="TMTA" readonly></td>
<td><input type="text" class="readonly-input" name="Subtest" value="Tombaugh" readonly></td>
<td><input type="text" name="Raw"></td>
<td><input type="text" class="readonly-input" name="T" value="" readonly></td>
<td><input type="text" class="readonly-input" name="StandardScore" readonly></td>
<td><input type="text" class="readonly-input" name="ScaledScore" readonly></td>
</tr>
<tr>
<td><input type="text" name="Measure" value="TMTA" class="readonly-input" readonly></td>
<td><input type="text" name="Subtest" value="Heaton" class="readonly-input" readonly></td>
<td><input type="text" name="Raw" class="readonly-input" readonly></td>
<td><input type="text" name="T" value=""></td>
<td><input type="text" name="StandardScore" class="readonly-input" readonly></td>
<td><input type="text" name="ScaledScore" class="readonly-input" readonly></td>
</tr>
<tr>
<td><input type="text" class="readonly-input" name="Measure" value="TMTB" readonly></td>
<td><input type="text" class="readonly-input" name="Subtest" value="Tombaugh" readonly></td>
<td><input type="text" name="Raw"></td>
<td><input type="text" class="readonly-input" name="T" value="" readonly></td>
<td><input type="text" class="readonly-input" name="StandardScore" readonly></td>
<td><input type="text" class="readonly-input" name="ScaledScore" readonly></td>
</tr>
<tr>
<td><input type="text" name="Measure" value="TMTB" class="readonly-input" readonly></td>
<td><input type="text" name="Subtest" value="Heaton" class="readonly-input" readonly></td>
<td><input type="text" name="Raw" class="readonly-input" readonly></td>
<td><input type="text" name="T" value=""></td>
<td><input type="text" name="StandardScore" class="readonly-input" readonly></td>
<td><input type="text" name="ScaledScore" class="readonly-input" readonly></td>
</tr>
</tbody>
</table>


<button id="saveForm">Save</button>


</form>

<script src="/submitform.js"></script>
