 <div class="float-container">

 <div id="thankyou">
 <h2>Thank you! Your data has been sumitted. To see the result please go to the home page and enter your client ID</h2>

  </div>
  </div>
  <div class="clear"></div>