<input type="file" id="pdfInput" accept=".pdf">
  <button onclick="processPDF()">Extract Tables from Page 3</button>

<script src="/pdf.min.js"></script>

<script src="/pdf.worker.min.js"></script>
<script src="/processpdf.js"></script>
 